<!-- ======= About Section ======= -->
<section id="about" class="about section-show">

  <!-- ======= About Me ======= -->
  <div class="about-me container">

    <div class="section-title">
      <h2>About</h2>
      <p>Learn more about me</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="../img/me.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Fullstack Developer &amp; Tech Enthusiast</h3>
        <p>
          Passionate technology enthusiast with a broad background in cybersecurity, data science, and machine learning,
          now
          focused on fullstack web development using modern JavaScript frameworks. Experienced in building dynamic
          applications
          with Express.js, React, and RESTful APIs, while applying best practices in clean code, version control, and
          deployment.
          Strong foundation in problem-solving, security awareness, and scalable system design, supported by hands-on
          projects
          across web, mobile, and AI domains. Eager to grow in collaborative environments, contribute to impactful web
          solutions,
          and continuously explore new technologies in the software engineering ecosystem.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Computer Science</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Jakarta, Indonesia</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+62 811 7788 522</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                <span>malikalrasyid.basori@gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Position:</strong> <span>Open/Available</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div><!-- End About Me -->

  <!-- ======= Skills  ======= -->
  <div class="skills container">

    <div class="section-title">
      <h2>Skills</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">Javascript (Express & React) <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
              style="width: 90%;"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Python <i class="val">85%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
              style="width: 85%;"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Scikit-learn <i class="val">85%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
              style="width: 85%;"></div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">SQL <i class="val">85%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
              style="width: 85%;"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Tableau & Power BI <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
              style="width: 80%;"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Figma <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
              style="width: 70%;"></div>
          </div>
        </div>

      </div>

    </div>

  </div><!-- End Skills -->

  <!-- ======= Interests ======= -->
  <div class="interests container">

    <div class="section-title">
      <h2>Interests</h2>
    </div>
    <div class="row">

      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-javascript-line" style="color: #e80368;"></i>
          <h3>Fullstack Development</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="ri-dna-line" style="color: #ffbb2c;"></i>
          <h3>Data Science & Machine Learning</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
          <h3>Data Analysis & Visualization</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-global-line" style="color: #ffa76e;"></i>
          <h3>Cyber Security</h3>
        </div>
      </div>
    </div>

  </div><!-- End Interests -->

</section><!-- End About Section -->