<!-- ======= Resume Section ======= -->
<section id="resume" class="resume section-show">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Check My Resume</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Malik Alrasyid Basori</h4>
          <p align="justify">Innovative and deadline-driven Data Scientist with experience in data analysis, machine
            learning, and data visualization. Passionate about turning data into actionable insights to drive business
            success.</p>
          <p>
          <ul>
            <li>Batam, Indonesia</li>
            <li>+62 811 7788 522</li>
            <li>malikalrasyidbasori.1@gmail.com</li>
          </ul>
          </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor of Computer Science &amp; Information Systems</h4>
          <h5>Aug 2019 - Nov 2023</h5>
          <p><em>Telkom University, Bandung Regency, Indonesia</em></p>
          <p>GPA: 3.53/4.00 | Credit Score: 158/Credits</p>
          <p align="justify">During my tenure at Telkom University, I underwent a comprehensive educational journey that
            encompassed both general and technical knowledge. Beginning with foundational courses in computer science
            during the initial semesters, I gradually transitioned to more practical applications, particularly in
            website development projects. These projects emphasized integration with project management, interaction
            design, and database systems, providing me with valuable hands-on experience. As I progressed to the later
            semesters, I engaged in increasingly complex website development projects using Laravel.</p>
        </div>
        <div class="resume-item">
          <h4>Digital Talent Incubator &amp; Data Science & Machine Learning</h4>
          <h5>Mar 2024 - Oct 2024</h5>
          <p><em>Purwadhika Digital Technology School, Batam</em></p>
          <p align="justify">The Data Science and Machine Learning program at Purwadhika's Digital Talent Incubator
            covers key areas such as data analysis, machine learning, and data visualization. I learn to use Python for
            data manipulation and analysis, Scikit-learn for implementing machine learning algorithms, and Tableau for
            creating interactive data visualizations. The curriculum includes practical, hands-on projects that help you
            apply theoretical knowledge to real-world scenarios, enhancing your skills and building a portfolio.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Organization Experience</h3>
        <div class="resume-item">
          <h4>Human Resources Staff</h4>
          <h5>Jan 2021 - Jan 2022</h5>
          <p><em>SEARCH Telkom University, Batam </em></p>
          <p>
          <ul>
            <li>Enhanced inter-divisional and generational relationships. </li>
            <li>Conduct interviews and selection for the competition committee held by the organization. </li>
            <li>Ensure that each Division's Work Program runs according to its Timeline. </li>
            <li>Develop and adjust the organization's work program for one management period. </li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Open Mind SEARCH 2021</h4>
          <h5>Oct 2021 - Nov 2021</h5>
          <p><em>SEARCH Telkom University, Batam</em></p>
          <p>
          <ul>
            <li>Chairman, led a 43-member team. </li>
            <li>Achieved 136% participation (68 participants from a target of 50). </li>
            <li>Attracted 148% more new students (37 from a target of 25) in the first registration phase. </li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Choir Express Java Business Competition</h4>
          <h5>Jun 2021 - Sep 2021</h5>
          <p><em>SEARCH Telkom University, Batam</em></p>
          <p>
          <ul>
            <li>PIC UI/UX Competition, managed an 18-member team. </li>
            <li>Achieved 167% of participant targets (50 participants from a target of 30). </li>
            <li>Secured sponsorships leading to internship opportunities for winners. </li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>SEARCH Inspiration</h4>
          <h5>Jul 2021 - Aug 2021</h5>
          <p><em>SEARCH Telkom University, Batam</em></p>
          <p>
          <ul>
            <li>Head of Events Division, led a 4-member team. </li>
            <li> Achieved 280% participant targets (140 webinar participants from a target of 50). </li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Championship Regeneration 2020</h4>
          <h5>Jan 2020 - Feb 2020</h5>
          <p><em>SEARCH Telkom University, Batam</em></p>
          <p>
          <ul>
            <li>Head of the Public Relations Division, organized a 4-member team. </li>
            <li>Collaborated with 114% of target organizations (40 from a target of 35), and doubled participant teams
              from the previous year </li>
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->