/* Detail Page */
#projectDetail {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.carousel img {
    height: 500px;
    border-radius: 10px;
}

.tech-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.tech-icons i {
    font-size: 2rem;
    color: #00cec9;
}