<header id="header" class="header-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1><a href="/home">Malik Alrasyid Basori</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link {{#if activeHome}}active{{/if}}" href="/home">Home</a></li>
        <li><a class="nav-link {{#if activeAbout}}active{{/if}}" href="/home/about">About</a></li>
        <li><a class="nav-link {{#if activeResume}}active{{/if}}" href="/home/resume">Resume</a></li>
        <li><a class="nav-link {{#if activeProjects}}active{{/if}}" href="/projects">Projects</a></li>
        <li><a class="nav-link {{#if activeContact}}active{{/if}}" href="/contact">Contact</a></li>
        {{#if user}}
        <li><a href="/auth/logout" class="nav-link">Logout ({{user.username}})</a></li>
        {{else}}
        <li><a href="/auth/login" class="nav-link">Admin Login</a></li>
        {{/if}}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
